<ion-content>
<div id=NoData *ngIf="mijnUitbraakData.length === 0">Geen eigen active meldingen</div>
  <ion-item *ngFor="let data of mijnUitbraakData let i = index" [routerLink]="['/home/melding-details/' + data.Id]" routerLinkActive="router-link-active">
    <ion-label>
      <ion-grid><ion-row>
        <ion-col size=8>
          <h2>{{data.Id + ' ' + data.MeldingData[0].InstellingLabel}}</h2>
            <h3>{{data.Soort}}</h3>
            <p>{{data.MeldingData[0].UitbraakStartDatum}}</p>
          </ion-col>
      </ion-row></ion-grid>

    </ion-label>
    </ion-item>
     <ion-fab [routerLink]="['/create-melding']" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button size=small>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
