h1 {
    padding-top:20%;
    font-size:20px;
}

ion-label {
    margin:0;
}

#NoData {
    padding-top:40vh;
}

h2 {
    font-weight: bold;
}

p {
    color:gray;
}
ion-fab-button {
    --background:#164185;
}